<!-- inject:js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.min.js"></script>
<script src="bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
<script src='bower_components/toastr/toastr.js'></script>
<!-- endinject -->

<script src="https://js.stripe.com/v2/"></script>

<script src='javascripts/app.js'></script>

<script src='javascripts/services/Show.js'></script>
<script src='javascripts/services/Auth.js'></script>

<script src='javascripts/controllers/main.js'></script>
<script src='javascripts/controllers/showDetails.js'></script>
<script src='javascripts/controllers/login.js'></script>
<script src='javascripts/controllers/nav.js'></script>
<script src='javascripts/controllers/signup.js'></script>
<script src='javascripts/controllers/addShow.js'></script>

<script src='javascripts/directives/repeatPassword.js'></script>
